@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

.body-div{
    margin: 5rem;
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    font-family: "Poppins", sans-serif;
    text-align: left;
    text-transform: uppercase;
    font-size: larger;
}

label{
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    margin: 10px;

}

.main {
    font-size : xx-large;
    color: rgb(69, 184, 172);
    text-transform: capitalize;
}

p{
    text-transform: capitalize;
    margin: 3px;
    padding: 3px;
}

.hyperlink{
    color: rgba(69, 184, 172,0.7);
}
.hyperlink:hover{
    color: rgb(69, 184, 172);
}

.sub{
    margin: 2%;
}

.sub0{
    margin: 10px;
}


.form-class{
    display: grid ;
    grid-template: repeat(1,1fx);
    margin: 10px;
}

.form-data{
    border: 1px solid whitesmoke;
    border-radius: 3px;
    outline: none;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    width: 50%;
    background-color: white;
    overflow: visible;
    margin: 0px;
}

.form-btn{
    font-family: "Poppins", sans-serif;
    max-width: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    text-transform: capitalize;
    opacity: 0.9;
    cursor: pointer;
}

.form-btn:hover{
    opacity: 1;
}


.save{
    background-color: rgb(36, 197, 161);
}

.reset {
    background-color: rgb(202, 127, 66);
}

.note{
    margin-top: 40px;
}

.note p {
    color: #e05858;
}